{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Products</title>
{% endblock %}

{% block main_content %}
{% include 'products/header.html' %}

<div class="container-fluid mt-2">
    <h1 class="text-center">Let us make your life better...</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card">
                <img src="/{{product.product_image}}" class="card-img-top" alt="{{product.product_name}}" height="300"
                    width="300">
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <h5 class="card-title">Rs {{product.product_price}}</h5>
                    <a href="/product/{{product.id}}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'products/footer.html' %}
{% endblock %}